.List {
  display: flex;
  height: 100%;
}

.listContainer {
  flex: 3;
  height: 100%;

  .wrapper {
    height: 100%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow-y: scroll;

    /* Add some basic scrollbar styles */
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }
  }
}

.mapContainer {
  flex: 2;
  background-color: rgba(42, 46, 8, 0.503);
}
